<div class="container">
  <h1>Plants and zombies</h1>
</div>

<div class="container">


  <% @plants.each do |plant| %>
  <div class="card col-3 ">
  <%= image_tag (plant.photo), class: 'card-img' %>
  <div class="card-img-overlay">
    <%= plant.name %>
    <%= plant.price %>
  </div>

  </div>
  <% end %>
</div>
